body {
  background-color: #666666;
  color: #FFFFFF;
  font-family: Cambria, Arial, sans-serif;
  margin: 10% 5%}
.intro {text-align: center; 
  text-transform: uppercase }
.i2 {text-align:center}
.profexp {text-align: center; 
   text-decoration: underline; 
text-transform: uppercase}
.edu {text-align: center;
  text-transform: uppercase;
text-decoration: underline}
.certs {text-align: center;
  text-transform: uppercase;
  text-decoration: underline}
.lloyds {border-top: 3px solid #000000;
border-bottom: 3px solid #000000}
.borton {border-top: 3px solid #000000;
  border-bottom: 3px solid #000000}
.kline {border-top: 3px solid #000000;
  border-bottom: 3px solid #000000}
.safe {border-bottom: 3px solid #000000}
.uti {border-top: 3px solid #000000;
  border-bottom: 3px solid #000000}
